.card {
  min-height: 40vh;
  max-height: fit-content;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.onboard-card {
  border-bottom: 4px solid #006dd2;
}
.onboard:hover {
  background-color: #006dd2;
}
.onboard-header {
  color: #006dd2;
  background: rgb(229 240 251);
}
.card:hover .onboard-header {
  color: white;
  background-color: #3492eb;

}
.onboard-title {
  color: #006dd2;
}
.card:hover .onboard-title {
  color: white;
}
.onboard-button {
  background-color: white;
  border: 1px solid #006dd2;
  color: #006dd2;
}
.card:hover .onboard-button {
  color: white;
  background-color: #006dd2;
  border: 1px solid white;
}

.purchase-card {
  border-bottom: 4px solid #2da63f;
}
.purchase:hover {
  background-color: #2da63f;
}
.purchase-header {
  color: #2da63f;
  background: rgb(231 247 229);
}
.card:hover .purchase-header {
  color: white;
  background: #37c94d;
}
.purchase-title {
  color: #2da63f;
}
.card:hover .purchase-title {
  color: white;
}
.purchase-button {
  background-color: white;
  border: 1px solid #2da63f;
  color: #2da63f;
}
.card:hover .purchase-button {
  color: white;
  background-color: #2da63f;
  border: 1px solid white;
}

.handover-card {
  border-bottom: 4px solid #009583;
}
.handover:hover {
  background-color: #009583;
}
.handover-header {
  color: #009583;
  background-color: rgb(229 244 243);
}
.card:hover .handover-header {
  color: white;
  background-color: #0ea593;
}
.handover-title {
  color: #009583;
}
.card:hover .handover-title {
  color: white;
}
.handover-button {
  background-color: white;
  border: 1px solid #009583;
  color: #009583;
}
.card:hover .handover-button {
  color: white;
  background-color: #009583;
  border: 1px solid white;
}

.takeover-card {
  border-bottom: 4px solid #8130f2;
}
.takeover:hover {
  background-color: #8130f2;
}
.takeover-header {
  color: #8130f2;
  background-color: rgb(229 244 243);
}
.card:hover .takeover-header {
  color: white;
  background-color: #9656f0;
}
.takeover-title {
  color: #8130f2;
}
.card:hover .takeover-title {
  color: white;
}
.takeover-button {
  background-color: white;
  border: 1px solid #8130f2;
  color: #8130f2;
}
.card:hover .takeover-button {
  color: white;
  background-color: #8130f2;
  border: 1px solid white;
}

.card-header {
  font-size: 20px;
  text-align: center;
  padding: 1vh;
  border-radius: 50px;
  margin-top: 1vh;
  text-transform: capitalize;
  width: fit-content;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.card-title {
  font-size: 22px;
  line-height: 4vh;
  font-weight: 500;
  width: 25vh;
  text-align: center;

}

.card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn {
  margin: 4px;
  padding: 16px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}

.card-header__box {
  display: flex;
  justify-content: center;
}
