<div class="heading">
  <div>Operarational Task</div>
  <div class="header-dropdowns">
    <div class="dropdown">
      <div>Showing entries for</div>
      <select class="select">
        <option value="">All Workshop</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
    </div>
    <div class="dropdown">
      <div>Date range applied</div>
      <select class="select">
        <option value="">Today</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
    </div>
  </div>
</div>

<div class="cards">
  <div class="card">
    <app-card *ngFor="let card of cardData" [cardData]="card"></app-card>
  </div>
</div>
<div class="heading">User Activity</div>
<app-table [tableData]="tableData"></app-table>
